/*The first element: a black background and white text */
.click-button {
    background-color: black;
    color: white;
}

/* The second element: a yellow background */
.no-click-button {
    background-color: yellow;
}